{include="inme_public/header"}

{if="$fsc->noticia"}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <div class="page-header">
            <h1>
               <a href="{$fsc->noticia->url}" rel="nofollow">{$fsc->noticia->titulo}</a>
            </h1>
            <small>
               <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {$fsc->noticia->fecha} &nbsp;
               <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$fsc->noticia->popularidad()} &nbsp;
               {if="!$fsc->noticia->nativa"}
               <span class="label label-info"><s>Español</s></span>
               {/if}
               {if="$fsc->noticia->parodia"}
               <span class="label label-warning">Parodia</span>
               {/if}
            </small>
         </div>
         <p>{$fsc->noticia->texto}</p>
         <p class="help-block">
            <a href="{$fsc->empresa->web}/index.php?page=inme_home&codfuente={$fsc->noticia->codfuente}">{$fsc->noticia->codfuente}</a> &nbsp;
            {loop="$fsc->noticia->keywords()"}
            <a href="{$fsc->empresa->web}/index.php?page=inme_home&keyword={$value}" class="label label-default">{$value}</a>
            {/loop}
         </p>
      </div>
      <div class="col-sm-6">
         <a href="#" class="btn btn-sm btn-info">
            Twitter: {$fsc->noticia->tweets}
         </a>
         <a href="#" class="btn btn-sm btn-primary">
            Facebook: {$fsc->noticia->likes}
         </a>
         {if="$fsc->noticia->meneame_link"}
         <a href="{$fsc->noticia->meneame_link}" class="btn btn-sm btn-warning">
            Menéame: {$fsc->noticia->meneos}
         </a>
         {/if}
         <br/><br/>
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#relevante" aria-controls="relevante" role="tab" data-toggle="tab">Relevante</a>
            </li>
            <li role="presentation">
               <a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Populares</span>
               </a>
            </li>
         </ul>
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="relevante">
               {if="$fsc->relacionada"}
               <h2><a href="{$fsc->relacionada->edit_url()}">{$fsc->relacionada->titulo}</a></h2>
               <p>{$fsc->relacionada->resumen}</p>
               <p class="help-block">
                  {$fsc->relacionada->fecha} &nbsp;
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                  {$fsc->relacionada->popularidad()} &nbsp;
                  <a href="{$fsc->empresa->web}/index.php?page=inme_home&codfuente={$fsc->relacionada->codfuente}">{$fsc->relacionada->codfuente}</a>
               </p>
               <hr/>
               {else}
               <div id="disqus_thread"></div>
               <script type="text/javascript">
               /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
               var disqus_shortname = 'neorazorx';
               var disqus_identifier = '{$fsc->noticia->url()}';

               /* * * DON'T EDIT BELOW THIS LINE * * */
               (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
               })();
               </script>
               <noscript>Por favor, activa JavaScript para ver los <a href="http://disqus.com/?ref_noscript">comentarios de Disqus</a></noscript>
               <a href="http://disqus.com" class="dsq-brlink">Comentarios de <span class="logo-disqus">Disqus</span></a>
               {/if}
            </div>
            <div role="tabpanel" class="tab-pane" id="popular">
               <div class="container-fluid">
                  {loop="$fsc->populares()"}
                  <div class="row">
                     <div class="col-xs-12">
                        <h4 style="margin-bottom: 0px;">
                           {if="$value->editada"}
                           <a href="{$fsc->empresa->web}/{$value->url($fsc->modrewrite)}">{$value->titulo}</a>
                           {else}
                           <a href="{$value->url()}">{$value->titulo}</a>
                           {/if}
                        </h4>
                        <p class="help-block">{$value->resumen}</p>
                     </div>
                  </div>
                  {/loop}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{/if}

{include="inme_public/footer"}