{include="inme_public/header"}

{if="$fsc->noticia"}
<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               {$fsc->noticia->titulo}
               <a class="btn btn-xs btn-default" href="{$fsc->noticia->edit_url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
         </div>
         <p>{$fsc->noticia->texto}</p>
         <p class="help-block">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            {$fsc->noticia->fecha}
            &nbsp; <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$fsc->noticia->popularidad()}
            &nbsp; <a href="index.php?page=inme_home&codfuente={$fsc->noticia->codfuente}">{$fsc->noticia->codfuente}</a>
            &nbsp;
            {loop="$fsc->noticia->keywords()"}
            <a href="index.php?page=inme_home&keyword={$value}" class="label label-default">{$value}</a>
            {/loop}
         </p>
         <br/>
         <a href="#" class="btn btn-sm btn-info">
            Twitter: {$fsc->noticia->tweets}
         </a>
         <a href="#" class="btn btn-sm btn-primary">
            Facebook: {$fsc->noticia->likes}
         </a>
         <a href="#" class="btn btn-sm btn-warning">
            Menéame: {$fsc->noticia->meneos}
         </a>
      </div>
   </div>
</div>
{/if}

{include="inme_public/footer"}