{include="inme_public/header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div>
            <a href="index.php?page=inme_home" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
            <a href="index.php?page=inme_picar&picar=TRUE" class="btn btn-sm btn-primary">
               <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp; Picar
            </a>
         </div>
         <div class="page-header">
            <h1>Picar</h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-10">
         <ol>
            {loop="$fsc->log"}
            <li>{$value}</li>
            {else}
            <li>Sin resultados.</li>
            {/loop}
         </ol>
         <br/>
      </div>
      <div class="col-sm-2">
         <div class="thumbnail">
            <img src="plugins/informame/view/img/pikapika.png" alt="pikapika"/>
         </div>
      </div>
   </div>
</div>

{include="inme_public/footer"}