{include="inme_public/header"}

<div class="container-fluid">
   {if="$fsc->mostrar_tema"}
      {if="$fsc->mostrar_tema->imagen"}
      <div class="row">
         <div class="col-sm-2">
            <div class="thumbnail">
               <img src="{$fsc->mostrar_tema->imagen}" alt="{$fsc->mostrar_tema->codtema}"/>
            </div>
         </div>
         <div class="col-sm-10">
            <h1>{$fsc->mostrar_tema->titulo}</h1>
            <p class="help-block">{$fsc->mostrar_tema->texto}</p>
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <g:plusone></g:plusone>
         </div>
      </div>
      {/if}
   {/if}
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs">
            {if="$fsc->buscar=='' AND $fsc->codfuente=='' AND $fsc->keyword==''"}
            <li role="presentation"{if="$fsc->mostrar=='portada'"} class="active"{/if}>
               <a href="{$fsc->url()}">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  &nbsp; Portada
               </a>
            </li>
            <li role="presentation"{if="$fsc->mostrar=='populares'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=populares" title="Populares">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation"{if="$fsc->mostrar=='todo'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=todo">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Lo último</span>
                  <span class="badge">{$fsc->total_noticias()}</span>
               </a>
            </li>
            {else}
            <li role="presentation" class="active">
               <a href="{$fsc->url()}">
                  {if="$fsc->buscar"}
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; <b>{$fsc->buscar}</b>
                  {elseif="$fsc->codfuente"}
                  <span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp; <b>{$fsc->codfuente}</b>
                  {elseif="$fsc->keyword"}
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp; <b>{$fsc->keyword}</b>
                  {/if}
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}" title="Portada">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}&mostrar=populares" title="Populares">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}&mostrar=todo" title="Lo último">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
               </a>
            </li>
            {/if}
         </ul>
         <br/>
         {if="$fsc->buscar"}
         <p class='help-block'>
            Estás viendo los artículos relacionados con la búsqueda <u>{$fsc->buscar}</u>.
            En amarillo los artículos de humor, en verde las ediciones.
         </p>
         {elseif="$fsc->codfuente"}
         <p class='help-block'>
            Estás viendo los artículos de la fuente <u>{$fsc->codfuente}</u> que tenemos indexados.
            En amarillo los artículos de humor, en verde las ediciones.
         </p>
         {elseif="$fsc->keyword"}
         <p class='help-block'>
            Estás viendo los artículos relacionados con la etiqueta <u>{$fsc->keyword}</u>.
            En amarillo los artículos de humor, en verde las ediciones.
         </p>
         {elseif="$fsc->mostrar=='todo'"}
         <p class='help-block'>
            Estás viendo los últimos artículos indexados. En amarillo los artículos de humor,
            en verde las ediciones. Disculpa si algunos todavía no tienen una imagen relacionada.
         </p>
         {/if}
      </div>
   </div>
   {if="isset($fsc->noticias[0])"}
   <div class="row">
      <div class="col-sm-12">
         <div class="jumbotron">
            <div class="container-fluid">
               <div class="row">
                  <!--{$url=$fsc->noticias[0]->url($fsc->modrewrite)}-->
                  <!--{$fsc->preview->load($fsc->noticias[0]->url, $fsc->noticias[0]->preview)}-->
                  <div class="col-sm-2">
                     <a href="{$url}" target="_blank" class="thumbnail">
                        {if="$fsc->preview->type"}
                        <img src="{$fsc->preview->preview()}" alt="{$fsc->noticias[0]->titulo}">
                        {else}
                        <img src="plugins/informame/view/img/newspaper.jpg" alt="{$fsc->noticias[0]->titulo}">
                        {/if}
                     </a>
                  </div>
                  <div class="col-sm-10">
                     {if="$fsc->mostrar_tema"}
                     <h2><a href="{$url}" target="_blank">{$fsc->noticias[0]->titulo}</a></h2>
                     {else}
                     <h1>{$fsc->noticias[0]->titulo}</h1>
                     {/if}
                     <p>{$fsc->noticias[0]->resumen}</p>
                     <small class="inme_small">
                        {if="!$fsc->noticias[0]->nativa"}
                        <span class="label label-danger"><s>Español</s></span> &nbsp;
                        {/if}
                        {if="$fsc->noticias[0]->parodia"}
                        <span class="label label-danger">Parodia</span> &nbsp;
                        {/if}
                        {if="$fsc->noticias[0]->publicada"}
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                        <span class="hidden-xs">Publicada el</span> {$fsc->noticias[0]->fecha} &nbsp;
                        {else}
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {$fsc->noticias[0]->fecha} &nbsp;
                        {/if}
                        <a href="#popularidad" data-toggle="modal" data-target="#modal_popularidad">
                           <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                           <span class="hidden-xs">Popularidad:</span>
                           {$fsc->noticias[0]->popularidad()}
                        </a>
                     </small>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     {if="$fsc->noticias[0]->tweets>0"}
                     <a href='https://twitter.com/share?url={function="urlencode($url)"}&amp;text={function="urlencode(html_entity_decode($fsc->noticias[0]->titulo))"}' target="_blank" class="label label-info">
                        <i class="fa fa-twitter" aria-hidden="true"></i> {$fsc->noticias[0]->tweets}
                     </a>&nbsp;
                     {/if}
                     {if="$fsc->noticias[0]->likes>0"}
                     <a href='http://www.facebook.com/sharer.php?s=100&amp;p[title]={function="urlencode(html_entity_decode($fsc->noticias[0]->titulo))"}&amp;p[url]={function="urlencode($url)"}' target="_blank" class="label label-primary">
                        <i class="fa fa-facebook" aria-hidden="true"></i> {$fsc->noticias[0]->likes}
                     </a>&nbsp;
                     {/if}
                     {if="$fsc->noticias[0]->meneame_link"}
                     <a href="#meneame" data-href="{$fsc->noticias[0]->meneame_link}" class="label label-warning fake_link">
                        Menéame: {$fsc->noticias[0]->meneos}
                     </a>
                     {/if}
                     <div class="visible-xs">
                        <br/>
                     </div>
                  </div>
                  <div class="col-sm-6 text-right">
                  {loop="$fsc->noticias[0]->keywords()"}
                     {if="$counter<4"}
                     <a href="#{$value}" data-href="{$fsc->url()}&keyword={$value}" class="label label-default fake_link">{$value}</a>
                     {/if}
                  {else}
                  <a href="#fuente" data-href="{$fsc->url()}&codfuente={$fsc->noticias[0]->codfuente}" class="label label-info fake_link" title="Fuente del artículo">
                     <span class="glyphicon glyphicon-import"></span> {$fsc->noticias[0]->codfuente}
                  </a>
                  {/loop}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {/if}
   {if="$fsc->mostrar=='portada' AND !$fsc->mostrar_tema AND mt_rand(0,2)>0"}
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h3>
               <span class="glyphicon glyphicon-book"></span>
               Temas populares en {$fsc->empresa->nombre}
            </h3>
            <p class="help-block">
               La popularidad de los temas se calcula a partir de su edad (primera aparición)
               y la suma de la popularidad de todos los artículos relacionados.
            </p>
         </div>
      </div>
   </div>
   <div class="row visible-lg">
      <!--{$max=5}-->
      {loop="$fsc->temas_populares"}
         {if="$value->imagen AND $max>0"}
         <div class="col-sm-2">
            <div class="thumbnail">
               <a href="#{$value->codtema}" data-href="{$fsc->url()}&keyword={$value->codtema}" class="fake_link">
                  <img src="{$value->imagen}" alt="{$value->codtema}"/>
               </a>
               <div class="caption">
                  <h4>{$value->titulo}</h4>
                  <p class="help-block">{$value->texto(140)}</p>
               </div>
            </div>
         </div>
         <!--{$max=$max-1}-->
         {/if}
      {/loop}
      <div class="col-sm-2">
         <div class="thumbnail">
            <a rel="nofollow" href="https://www.facturascripts.com" target="_blank">
               <img src="plugins/informame/view/img/facturascripts.png" alt="FacturaScripts"/>
            </a>
            <div class="caption">
               <h4>FacturaScripts</h4>
               <p class="help-block">
                  Facturación y contabilidad, software libre.
                  Potente sistema de plugins y actualizaciones constantes.
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="row hidden-lg">
      <!--{$max=9}-->
      {loop="$fsc->temas_populares"}
         {if="$max>0"}
         <div class="col-sm-4">
            <div class="list-group">
               <a href="#{$value->codtema}" data-href="{$fsc->url()}&keyword={$value->codtema}" class="list-group-item fake_link">
                  <span class="badge">{$value->popularidad}</span>
                  {$value->titulo}
               </a>
            </div>
         </div>
         <!--{$max=$max-1}-->
         {/if}
      {/loop}
   </div>
   {elseif="$fsc->mostrar=='portada' AND !$fsc->mostrar_tema"}
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h3>
               <span class="glyphicon glyphicon-thumbs-up"></span>
               ¿Te gusta {$fsc->empresa->nombre}?
            </h3>
         </div>
         <div class="alert bg-claro">
            <p>
               Pon tu granito de arena. Con tan solo un clic puedes hacer que más
               gente conozca {$fsc->empresa->nombre}. Ayúdanos a construir una web mejor
               y líbranos de la mafia de menéame ;-)
            </p>
            <br/>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="neorazorx" data-size="large" data-hashtags="informame">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
         </div>
      </div>
   </div>
   {elseif="$fsc->mostrar=='populares' AND mt_rand(0,2)==0"}
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-info">
            <div class="panel-heading">
               <h3 class="panel-title">
                  <span class="glyphicon glyphicon-question-sign"></span> ¿Sabías que...?
               </h3>
            </div>
            <div class="panel-body">
               <p class="help-block">
                  La popularidad de los artículos de {$fsc->empresa->nombre} se
                  <b>calcula automáticamente</b> a partir de sus menciones en redes sociales.
                  Así cada mención cuenta. Además, al no haber votos negativos, se evita
                  que un grupo de usuarios pueda tumbar noticias que no les interesen,
                  como sucede en <b>menéame</b>.
                  <br/>
                  Esta lista de artículos populares es cambiante, puesto que la edad también
                  influye en la popularidad. Cuanto más tiempo tiene un artículo, más reduce
                  su popularidad. Por esos existe la portada. Cuando un artículo entra en el
                  <b>top {#FS_ITEM_LIMIT#}</b> se publica, de forma que ya solamente puede
                  moverse hacia abajo en la portada.
               </p>
               <script src="https://apis.google.com/js/platform.js" async defer></script>
               <g:plusone></g:plusone>
            </div>
         </div>
      </div>
   </div>
   {elseif="$fsc->mostrar=='todo' AND mt_rand(0,2)==0"}
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-info">
            <div class="panel-heading">
               <h3 class="panel-title">
                  <span class="glyphicon glyphicon-question-sign"></span> ¿Sabías que...?
               </h3>
            </div>
            <div class="panel-body">
               <p class="help-block">
                  Los artículos de {$fsc->empresa->nombre} se <b>añaden automáticamente</b>
                  a partir de las fuentes configuradas. Se calcula su popularidad, temas
                  relacionados, imagen, etc... de forma que en esta web encontrarás una
                  selección de artículos populares plenamente objetiva. Ningún editor,
                  ni grupo de usuarios puede penalizar un artículo.
                  <br/>
                  Eso si, los enlaces conducen directamente a la fuente original. Esta
                  web solamente indexa y cataloga, no roba tráfico.
               </p>
               <script src="https://apis.google.com/js/platform.js" async defer></script>
               <g:plusone></g:plusone>
            </div>
         </div>
      </div>
   </div>
   {/if}
   <div class="row">
   <!--{$clase=' bg-claro'}-->
   {loop="$fsc->noticias"}
      {if="$counter>0"}
         <!--{$url=$value->url($fsc->modrewrite)}-->
         <!--{$fsc->preview->load($value->url, $value->preview)}-->
         {if="$fsc->preview->type AND $counter<20"}
         <div class='col-sm-1'>
            <br/>
            <a href="{$url}" target="_blank" class="thumbnail">
               <img src="{$fsc->preview->preview()}" alt="{$value->titulo}">
            </a>
         </div>
         <div class='col-sm-5{if="$value->parodia"} bg-warning{elseif="$value->editada"} bg-success{/if}'>
            <h3>{$value->titulo}</h3>
            <p class="help-block">{$value->resumen}</p>
            <p class="help-block inme_small">
               {if="!$value->nativa"}
               <span class="label label-danger"><s>Español</s></span>&nbsp;
               {/if}
               {if="$value->parodia"}
               <span class="label label-danger">Parodia</span>&nbsp;
               {/if}
               <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {$value->fecha} &nbsp;
               <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$value->popularidad()} &nbsp;
               {loop="$value->keywords()"}
                  {if="$counter1<20 AND $counter2<4"}
                  <a href="#{$value2}" data-href="{$fsc->url()}&keyword={$value2}" class="label label-default fake_link">{$value2}</a>
                  {/if}
               {/loop}
               {if="$value->meneame_link"}
               &nbsp;
               <a href="#meneame" data-href="{$value->meneame_link}" class="label label-default fake_link">
                  <span class="glyphicon glyphicon-share" aria-hidden="true"></span>&nbsp; menéame
               </a>
               {/if}
            </p>
            <div class="visible-xs">
               <hr/>
            </div>
         </div>
         {else}
         <div class='col-sm-6{if="$value->parodia"} bg-warning{elseif="$value->editada"} bg-success{/if}'>
            <h3>
               <a href="{$url}" target="_blank">{$value->titulo}</a>
            </h3>
            <p class="help-block">{$value->resumen}</p>
            <p class="help-block inme_small">
               {if="!$value->nativa"}
               <span class="label label-danger"><s>Español</s></span>&nbsp;
               {/if}
               {if="$value->parodia"}
               <span class="label label-danger">Parodia</span>&nbsp;
               {/if}
               <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {$value->fecha} &nbsp;
               <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$value->popularidad()} &nbsp;
               {loop="$value->keywords()"}
                  {if="$counter1<20 AND $counter2<4"}
                  <a href="#{$value2}" data-href="{$fsc->url()}&keyword={$value2}" class="label label-default fake_link">{$value2}</a>
                  {/if}
               {/loop}
               {if="$value->meneame_link"}
               &nbsp;
               <a href="#meneame" data-href="{$value->meneame_link}" class="label label-default fake_link">
                  <span class="glyphicon glyphicon-share" aria-hidden="true"></span>&nbsp; menéame
               </a>
               {/if}
            </p>
            <div class="visible-xs">
               <hr/>
            </div>
         </div>
         {/if}
      {/if}
      {if="$counter%2==0 AND $counter>0"}
         </div><div class="row{$clase}">
         {if="$clase==' bg-claro'"}
         <!--{$clase=''}-->
         {else}
         <!--{$clase=' bg-claro'}-->
         {/if}
      {/if}
   {/loop}
   </div>
   <div class="row">
      <div class="col-sm-12">
         <ul class="pager">
            {if="$fsc->offset>0"}
            <li class="previous">
               <a href="{$fsc->anterior_url()}" rel="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="hidden-xs">&nbsp; Anteriores</span>
               </a>
            </li>
            {/if}
            {if="count($fsc->noticias)==FS_ITEM_LIMIT"}
            <li class="next">
               <a href="{$fsc->siguiente_url()}" rel="next">
                  <span class="hidden-xs">Siguientes &nbsp;</span>
                  <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_popularidad" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
               <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Popularidad
            </h4>
         </div>
         <div class="modal-body">
            <p>
               {$fsc->empresa->nombre} es un agregador de noticias <b>totalmente automatizado</b>.
               La portada se genera a partir de los artículos más populares del día.
               Y para calcular la popularidad de un artículo se emplean los siguientes
               parámetros:
            </p>
            <ul>
               <li>Las menciones en <b>twitter</b> al artículo.</li>
               <li>Las menciones en <b>facebook</b> al artículo.</li>
               <li>Los clic en <b>menéame</b> al artículo.</li>
               <li>La edad del artículo. Cuanto más antiguo, más edad.</li>
            </ul>
            <p>
               Este sistema nos permite calcular el interés de un artículo, sin
               que un grupo de usuarios pueda distorsionarlo con <b>votos negativos</b>.
            </p>
            <p>
               Y si tienes más interés, puedes ver nuestro algoritmo en github.
            </p>
            <a href="https://github.com/NeoRazorX/informame" target="_blank" class="btn btn-sm btn-default">
               <i class="fa fa-git" aria-hidden="true"></i>&nbsp; código fuente
            </a>
         </div>
      </div>
   </div>
</div>

{include="inme_public/footer"}