{include="inme_public/header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12 col-lg-12">
         <ul class="nav nav-tabs">
            {if="$fsc->buscar=='' AND $fsc->codfuente=='' AND $fsc->keyword==''"}
            <li role="presentation"{if="$fsc->mostrar=='portada'"} class="active"{/if}>
               <a href="{$fsc->url()}">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  &nbsp; Portada
               </a>
            </li>
            <li role="presentation"{if="$fsc->mostrar=='populares'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=populares" title="Populares">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation"{if="$fsc->mostrar=='todo'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=todo">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                  &nbsp; Lo último
                  <span class="badge">{$fsc->total_noticias()}</span>
               </a>
            </li>
            {else}
            <li role="presentation" class="active">
               <a href="{$fsc->url()}">
                  {if="$fsc->buscar"}
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; <b>{$fsc->buscar}</b>
                  {elseif="$fsc->codfuente"}
                  <span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp; <b>{$fsc->codfuente}</b>
                  {elseif="$fsc->keyword"}
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp; <b>{$fsc->keyword}</b>
                  {/if}
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}" title="Portada">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}&mostrar=populares" title="Populares">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}&mostrar=todo" title="Lo último">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-5 col-lg-6">
      {loop="$fsc->noticias"}
         <!--{$url=$value->url($fsc->modrewrite)}-->
         <!--{$fsc->preview->load($value->url, $value->preview)}-->
         {if="$counter<22"}
         <div class="noticia">
            {if="$fsc->preview->type"}
            <div class="pull-left">
               <a href="{$url}" target="_blank">
                  <img src="{$fsc->preview->preview()}" alt="{$value->titulo}" class="imagen-left">
               </a>
            </div>
            {/if}
            {if="$counter==0"}
            <h2><a href="{$url}" target="_blank">{$value->titulo}</a></h2>
            {else}
            <h3><a href="{$url}" target="_blank">{$value->titulo}</a></h3>
            {/if}
            <p class="text-justify">
               {$value->resumen}
               <br/>
               <span class="small">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {$value->fecha}
                  &nbsp; <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$value->popularidad()}
                  &nbsp; <a href="{$fsc->url()}&codfuente={$value->codfuente}">{$value->codfuente}</a>
                  {if="$value->meneame_link"}
                  &nbsp;
                  <a href="{$value->meneame_link}" target="_blank" class="label label-default">
                     <span class="glyphicon glyphicon-share" aria-hidden="true"></span>&nbsp; menéame
                  </a>
                  {/if}
                  &nbsp;
                  {if="!$value->nativa"}
                  <span class="label label-info"><s>Español</s></span>
                  {/if}
                  {if="$value->parodia"}
                  <span class="label label-warning">Parodia</span>
                  {/if}
                  {loop="$value->keywords()"}
                     {if="$counter<4"}
                     <a href="{$fsc->url()}&keyword={$value2}" class="label label-default">{$value2}</a>
                     {/if}
                  {/loop}
               </span>
            </p>
         </div>
         <hr/>
         {/if}
      {else}
         <div>
            <h2>Vas a tener que picar</h2>
            <p>No se ha encontrado ninguna noticia, vas a tener que picar un rato :D</p>
            <small>
                <a href="index.php?page=inme_picar">Picando, que es gerundio...</a>
            </small>
         </div>
      {/loop}
      </div>
      <div class="col-sm-4 col-lg-4">
      {loop="$fsc->noticias"}
         <!--{$url=$value->url($fsc->modrewrite)}-->
         <!--{$fsc->preview->load($value->url, $value->preview)}-->
         {if="$counter>=22"}
         <div class="noticia2">
            {if="$fsc->preview->type"}
            <div class="pull-right">
               <a href="{$url}" target="_blank">
                  <img src="{$fsc->preview->preview()}" alt="{$value->titulo}" class="imagen-right">
               </a>
            </div>
            {/if}
            <h4><a href="{$url}" target="_blank">{$value->titulo}</a></h4>
            <p class="help-block">
               {$value->resumen}
               <br/>
               <span>
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {$value->fecha}
                  &nbsp; <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$value->popularidad()}
                  &nbsp; <a href="{$fsc->url()}&codfuente={$value->codfuente}">{$value->codfuente}</a>
                  {if="$value->meneame_link"}
                  &nbsp;
                  <a href="{$value->meneame_link}" target="_blank" class="label label-default">
                     <span class="glyphicon glyphicon-share" aria-hidden="true"></span>&nbsp; menéame
                  </a>
                  {/if}
                  &nbsp;
                  {if="!$value->nativa"}
                  <span class="label label-info"><s>Español</s></span>
                  {/if}
                  {if="$value->parodia"}
                  <span class="label label-warning">Parodia</span>
                  {/if}
               </span>
            </p>
         </div>
         <hr class="visible-xs"/>
         {/if}
      {/loop}
      </div>
      <div class="col-sm-3 col-lg-2">
         <br/>
         {if="mt_rand(0,2)==0"}
         <div class="thumbnail">
            <a rel="nofollow" href="https://www.amazon.es/gp/product/B01CD5VC92/ref=as_li_tf_tl?ie=UTF8&camp=3626&creative=24790&creativeASIN=B01CD5VC92&linkCode=as2&tag=kelinux-21" target="_blank">
               <img src="https://i.imgur.com/h9pSx6Z.jpg" alt="raspberrypi3"/>
            </a>
            <div class="caption">
               <h4>Raspberry Pi 3</h4>
               <p class="help-block">
                  Raspberry Pi 3 Modelo B (1,2 GHz Quad-core ARM Cortex-A53, 1GB RAM, USB 2.0)
               </p>
            </div>
         </div>
         {else}
         <div class="thumbnail">
            <a rel="nofollow" href="https://www.facturascripts.com" target="_blank">
               <img src="plugins/informame/view/img/facturascripts.png" alt="FacturaScripts"/>
            </a>
            <div class="caption">
               <h4>FacturaScripts</h4>
               <p class="help-block">
                  Facturación y contabilidad, software libre.
                  Potente sistema de plugins y actualizaciones constantes.
               </p>
            </div>
         </div>
         {/if}
         <br/>
         <div class="list-group">
            <a href="#" class="list-group-item">
               <h4 class="list-group-item-heading">
                  <span class="glyphicon glyphicon-bookmark"></span>&nbsp; TOP
               </h4>
               <p class="list-group-item-text">
                  Estos son los temas más populares de {$fsc->empresa->nombre}
               </p>
            </a>
            {loop="$fsc->temas_populares"}
            <a href="{$fsc->url()}&keyword={$value->codtema}" class="list-group-item">
               <span class="badge">{$value->popularidad}</span>
               {$value->titulo}
            </a>
            {/loop}
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12 col-lg-12">
         <ul class="pager">
            {if="$fsc->offset>0"}
            <li class="previous">
               <a href="{$fsc->anterior_url()}">
                  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Anteriores
               </a>
            </li>
            {/if}
            {if="count($fsc->noticias)==FS_ITEM_LIMIT"}
            <li class="next">
               <a href="{$fsc->siguiente_url()}">
                  Siguientes &nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
   </div>
</div>

{if="mt_rand(0,2)>0"}
<div class="hidden">
   <iframe src="index.php?page=inme_picar&amp;hidden=TRUE"></iframe>
</div>
{/if}

{include="inme_public/footer"}