{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_tema").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_tema").modal('show');
         document.f_nuevo_tema.codtema.focus();
      });
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="btn-group">
            <a href="index.php?page=inme_home" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-arrow-left"></span>
               <span class="hidden-xs">&nbsp; Portada</span>
            </a>
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
         </div>
         <div class="btn-group">
            <a id="b_nuevo_tema" class="btn btn-sm btn-success" href="#">
               <span class="glyphicon glyphicon-pencil"></span>
               <span class="hidden-xs">&nbsp; Nuevo</span>
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-book"></span>
               Temas
               <small>{$fsc->num_resultados}</small>
            </h1>
            <p class="help-block">
               Los temas sirven para agrupar noticias, proporcionar más información e imágenes.
            </p>
         </div>
      </div>
   </div>
   <form action="{$fsc->url()}" method="post" class="form">
      <div class="row">
         <div class="col-sm-2">
            <div class="input-group">
               <input type="text" name="query" value="{$fsc->query}" class="form-control" placeholder="Buscar" autocomplete="off"/>
               <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                     <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
               </span>
            </div>
         </div>
         <div class="col-sm-8"></div>
         <div class="col-sm-2">
            <div class="input-group">
               <span class="input-group-addon">
                  <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
               </span>
               <select name="orden" class="form-control" onchange="this.form.submit();">
                  <option value="titulo asc">Título ASC</option>
                  <option value="titulo desc"{if="$fsc->orden=='titulo desc'"} selected=""{/if}>Título DESC</option>
                  <option value="popularidad desc"{if="$fsc->orden=='popularidad desc'"} selected=""{/if}>Popularidad DESC</option>
                  <option value="articulos desc"{if="$fsc->orden=='articulos desc'"} selected=""{/if}>nº artículos DESC</option>
               </select>
            </div>
         </div>
      </div>
   </form>
   <div class="row">
      <div class="col-sm-12">
         <br/>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>
                        <a href="{$fsc->url()}&order=codigo">Código</a> + Título
                     </th>
                     <th>Texto</th>
                     <th class="text-right">Nº Artículos</th>
                     <th class="text-right">Popularidad</th>
                     <th></th>
                  </tr>
               </thead>
               {loop="$fsc->resultados"}
               <tr class='clickableRow{if="!$value->activo"} danger{/if}' href='{$value->url()}'>
                  <td><b>{$value->codtema}</b> {$value->titulo}</td>
                  <td>{$value->texto}</td>
                  <td class="text-right">{$value->articulos}</td>
                  <td class="text-right">{$value->popularidad}</td>
                  <td>
                     {if="$value->imagen"}
                     <span class="glyphicon glyphicon-picture"></span>
                     {/if}
                  </td>
               </tr>
               {else}
               <tr>
                  <td class="warning" colspan="5">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <ul class="pager">
            {if="$fsc->offset>0"}
            <li class="previous">
               <a href="{$fsc->url()}&offset={$fsc->offset-FS_ITEM_LIMIT}&orden={$fsc->orden}">
                  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Anteriores
               </a>
            </li>
            {/if}
            {if="count($fsc->resultados)==FS_ITEM_LIMIT"}
            <li class="next">
               <a href="{$fsc->url()}&offset={$fsc->offset+FS_ITEM_LIMIT}&orden={$fsc->orden}">
                  Siguientes &nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
   </div>
</div>

<form name="f_nuevo_tema" action="{$fsc->url()}" method="post" class="form">
   <div class="modal" id="modal_nuevo_tema" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <h4 class="modal-title">Nuevo tema</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <input type="text" name="codtema" class="form-control" placeholder="código" autocomplete="off"/>
               </div>
               <div class="form-group">
                  <input type="text" name="titulo" class="form-control" placeholder="Título" autocomplete="off"/>
               </div>
               <div class="form-group">
                  <textarea name="texto" rows="5" class="form-control" placeholder="Texto"></textarea>
               </div>
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>

{include="footer"}