{include="header"}

<script type="text/javascript">
   function delete_fuente(cod)
   {
      if( confirm("¿Realmente desea eliminar la fuente "+cod+"?") )
      {
         window.location.href = '{$fsc->url()}&delete='+cod;
      }
   }
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="btn-group">
            <a href="index.php?page=inme_home" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-arrow-left"></span>
               <span class="hidden-xs">&nbsp; Portada</span>
            </a>
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
         </div>
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-import"></span>
               Fuentes
               <small>{function="count($fsc->resultados)"}</small>
            </h1>
            <p class="help-block">
               Estas son las fuentes de las que se examinan las noticias.
            </p>
         </div>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Código</th>
                     <th>URL</th>
                     <th class="text-center">¿En español?</th>
                     <th class="text-center">Parodia</th>
                     <th class="text-center">Última comprobación</th>
                     <th>Popularidad</th>
                     <th class="text-right">Acciones</th>
                  </tr>
               </thead>
               {loop="$fsc->resultados"}
               <form action="{$fsc->url()}" method="post" class="form">
                  <input type="hidden" name="codfuente" value="{$value->codfuente}"/>
                  <tr>
                     <td>
                        <div class="form-control">
                           <a href="index.php?page=inme_home&codfuente={$value->codfuente}">{$value->codfuente}</a>
                        </div>
                     </td>
                     <td>
                        <input type="text" name="url" value="{$value->url}" class="form-control" autocomplete="off"/>
                     </td>
                     <td class="text-center">
                        <div class="checkbox-inline">
                           <label>
                              {if="$value->nativa"}
                              <input type="checkbox" name="nativa" value="TRUE" checked=""/>
                              {else}
                              <input type="checkbox" name="nativa" value="TRUE"/>
                              {/if}
                           </label>
                        </div>
                     </td>
                     <td class="text-center">
                        <div class="checkbox-inline">
                           <label>
                              {if="$value->parodia"}
                              <input type="checkbox" name="parodia" value="TRUE" checked=""/>
                              {else}
                              <input type="checkbox" name="parodia" value="TRUE"/>
                              {/if}
                           </label>
                        </div>
                     </td>
                     <td class="text-center">
                        <div class="form-control">{$value->fcomprobada}</div>
                     </td>
                     <td>
                        <div class="form-control">{$value->popularidad}</div>
                     </td>
                     <td class="text-right">
                        <div class="btn-group">
                           <a href="#" class="btn btn-sm btn-danger" title="Eliminar" onclick="delete_fuente('{$value->codfuente}')">
                              <span class="glyphicon glyphicon-trash"></span>
                           </a>
                           <button type="submit" class="btn btn-sm btn-primary" title="Guardar">
                              <span class="glyphicon glyphicon-floppy-disk"></span>
                           </button>
                        </div>
                     </td>
                  </tr>
               </form>
               {/loop}
               <form action="{$fsc->url()}" method="post" class="form">
                  <tr class="info">
                     <td>
                        <input type="text" name="codfuente" class="form-control" placeholder="código" autocomplete="off"/>
                     </td>
                     <td>
                        <input type="text" name="url" class="form-control" placeholder="URL" autocomplete="off"/>
                     </td>
                     <td class="text-center">
                        <div class="checkbox-inline">
                           <label>
                              <input type="checkbox" name="nativa" value="TRUE" checked=""/>
                           </label>
                        </div>
                     </td>
                     <td class="text-center">
                        <div class="checkbox-inline">
                           <label>
                              <input type="checkbox" name="parodia" value="TRUE"/>
                           </label>
                        </div>
                     </td>
                     <td></td>
                     <td></td>
                     <td class="text-right">
                        <button type="submit" class="btn btn-sm btn-primary" title="Guardar">
                           <span class="glyphicon glyphicon-plus-sign"></span>
                           <span class="hidden-xs">&nbsp; Nueva</span>
                        </button>
                     </td>
                  </tr>
               </form>
            </table>
         </div>
      </div>
   </div>
</div>

{include="footer"}