{include="header"}

{if="$fsc->noticia"}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <a class="btn btn-sm btn-default" href="index.php?page=inme_home">
            <span class="glyphicon glyphicon-home"></span> &nbsp; Portada
         </a>
         <a class="btn btn-sm btn-default" href="{$fsc->noticia->edit_url()}" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <h1>
            <a href="{$fsc->noticia->url}">{$fsc->noticia->titulo}</a>
         </h1>
         <p>{$fsc->noticia->texto}</p>
         <p class="help-block">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            {$fsc->noticia->fecha}
            &nbsp; <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$fsc->noticia->popularidad()}
            &nbsp; <a href="index.php?page=inme_home&codfuente={$fsc->noticia->codfuente}">{$fsc->noticia->codfuente}</a>
            &nbsp;
            {loop="$fsc->noticia->keywords()"}
            <a href="index.php?page=inme_home&keyword={$value}" class="label label-default">{$value}</a>
            {/loop}
         </p>
         <br/>
         <a href="#" class="btn btn-sm btn-info">
            Twitter: {$fsc->noticia->tweets}
         </a>
         <a href="#" class="btn btn-sm btn-primary">
            Facebook: {$fsc->noticia->likes}
         </a>
         <a href="{$fsc->noticia->meneame_link}" target="_blank" class="btn btn-sm btn-warning">
            Menéame: {$fsc->noticia->meneos}
         </a>
      </div>
      <div class="col-sm-6">
         <div class="visible-xs">
            <br/>
         </div>
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#relevante" aria-controls="relevante" role="tab" data-toggle="tab">Relevante</a>
            </li>
            <li role="presentation">
               <a href="#editar" aria-controls="editar" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Editar</span>
               </a>
            </li>
         </ul>
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="relevante">
               {if="$fsc->relacionada"}
               <h2><a href="{$fsc->relacionada->edit_url()}">{$fsc->relacionada->titulo}</a></h2>
               <p>{$fsc->relacionada->resumen}</p>
               <p class="help-block">
                  {$fsc->relacionada->fecha} &nbsp;
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                  {$fsc->relacionada->popularidad()} &nbsp;
                  <a href="index.php?page=inme_home&codfuente={$fsc->relacionada->codfuente}">{$fsc->relacionada->codfuente}</a>
               </p>
               <hr/>
               {else}
               <br/>
               <div class="container-fluid">
                  {loop="$fsc->temas"}
                  <div class="row">
                     <div class="col-xs-9">
                        <a href="{$value->url()}" class="label label-default">{$value->titulo}</a>
                        <p class="help-block">{$value->texto()}</p>
                     </div>
                     <div class="col-xs-3">
                        {if="$value->imagen"}
                        <a href="{$value->url()}" class="thumbnail">
                           <img src="{$value->imagen}" alt="{$value->titulo}"/>
                        </a>
                        {else}
                        <a href="{$value->url()}" class="btn btn-sm btn-default btn-block">
                           <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                           <span class="visible-lg">&nbsp; añadir imagen</span>
                        </a>
                        {/if}
                     </div>
                  </div>
                  {/loop}
               </div>
               {/if}
            </div>
            <div role="tabpanel" class="tab-pane" id="editar">
               <br/>
               <form action="{$fsc->noticia->edit_url()}" method="post" class="form">
                  <div class="form-group">
                     <div class="input-group">
                        <div class="input-group-addon">
                           <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </div>
                        <input type="text" name="url" value="{$fsc->noticia->url}" class="form-control" placeholder="URL" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <input type="text" name="titulo" value="{$fsc->noticia->titulo}" class="form-control" placeholder="Título" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                     Resumen:
                     <textarea name="resumen" rows="3" class="form-control">{$fsc->noticia->resumen}</textarea>
                  </div>
                  <div class="form-group">
                     Texto completo:
                     <textarea name="texto" rows="10" class="form-control">{$fsc->noticia->texto}</textarea>
                  </div>
                  <div class="form-group">
                     ID noticia relacionada:
                     <div class="input-group">
                        <div class="input-group-addon">
                           <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </div>
                        <input type="text" name="id_relacionada" value="{$fsc->noticia->id_relacionada}" class="form-control" placeholder="ID" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="form-group">
                     Preview:
                     <div class="input-group">
                        <div class="input-group-addon">
                           <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        </div>
                        <input type="text" name="preview" value="{$fsc->noticia->preview}" class="form-control" placeholder="URL" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="form-group">
                     Keywords:
                     <input type="text" name="keywords" value="{$fsc->noticia->keywords(TRUE)}" class="form-control" placeholder="key1,key2" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                     <div class="checkbox-inline">
                        <label>
                           {if="$fsc->noticia->destacada"}
                           <input type="checkbox" name="destacada" value="TRUE" checked=""/>
                           {else}
                           <input type="checkbox" name="destacada" value="TRUE"/>
                           {/if}
                           destacada
                        </label>
                     </div>
                     <div class="checkbox-inline">
                        <label>
                           {if="$fsc->noticia->nativa"}
                           <input type="checkbox" name="nativa" value="TRUE" checked=""/>
                           {else}
                           <input type="checkbox" name="nativa" value="TRUE"/>
                           {/if}
                           en español
                        </label>
                     </div>
                     <div class="checkbox-inline">
                        <label>
                           {if="$fsc->noticia->parodia"}
                           <input type="checkbox" name="parodia" value="TRUE" checked=""/>
                           {else}
                           <input type="checkbox" name="parodia" value="TRUE"/>
                           {/if}
                           parodia
                        </label>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">
                     <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                  </button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}