{include="header"}

<br/>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-9 col-md-10">
         <ul class="nav nav-tabs">
            {if="$fsc->buscar=='' AND $fsc->codfuente=='' AND $fsc->keyword==''"}
            <li role="presentation"{if="$fsc->mostrar=='portada'"} class="active"{/if}>
               <a href="{$fsc->url()}">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  &nbsp; Portada
               </a>
            </li>
            <li role="presentation"{if="$fsc->mostrar=='populares'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=populares" title="Populares">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation"{if="$fsc->mostrar=='todo'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=todo">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                  &nbsp; Lo último
                  <span class="badge">{$fsc->total_noticias()}</span>
               </a>
            </li>
            {else}
            <li role="presentation" class="active">
               <a href="{$fsc->url()}">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  &nbsp; Resultados
                  {if="$fsc->buscar"}
                  de <b>{$fsc->buscar}</b>
                  {elseif="$fsc->codfuente"}
                  de <b>{$fsc->codfuente}</b>
                  {elseif="$fsc->keyword"}
                  de <b>{$fsc->keyword}</b>
                  {/if}
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}" title="Portada"
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}&mostrar=populares" title="Populares">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
               </a>
            </li>
            <li role="presentation">
               <a href="{$fsc->url()}&mostrar=todo" title="Lo último">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
      <div class="col-sm-3 col-md-2">
         <form action="{$fsc->url()}" method="post" class="form">
            <div class="input-group">
               <input type="text" name="buscar" value="{$fsc->buscar}" class="form-control" placeholder="Buscar" autocomplete="off"/>
               <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                     <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
               </span>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-5 col-md-5">
      {loop="$fsc->noticias"}
         {if="$counter<24"}
         <div>
            <!--{$fsc->preview->load($value->url, $value->preview)}-->
            {if condition="$fsc->preview->type"}
            <div class="pull-left">
               <a href="{$value->url()}">
                  <img src="{$fsc->preview->preview()}" alt="{$value->titulo}" style="max-height: 100px; max-width: 120px; margin-right: 10px;">
               </a>
            </div>
            {/if}
            {if="$counter==0"}
            <h2>
               <a href="{$value->url()}" target="_blank">{$value->titulo}</a>
            </h2>
            {else}
            <h3 style="margin-bottom: 0px;">
               <a href="{$value->url()}" target="_blank">{$value->titulo}</a>
            </h3>
            {/if}
            <p>
               {$value->resumen}
               <br/>
               <span class="small">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {$value->fecha}
                  &nbsp; <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$value->popularidad()}
                  &nbsp; <a href="{$fsc->url()}&codfuente={$value->codfuente}">{$value->codfuente}</a>
                  &nbsp;
                  {loop="$value->keywords()"}
                  <a href="{$fsc->url()}&keyword={$value2}" class="label label-default">{$value2}</a>
                  {/loop}
                  <a href="{$value->edit_url()}" class="label label-default" title="Editar esta noticia">
                     <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  </a>
               </span>
            </p>
         </div>
         <hr/>
         {/if}
      {else}
         <div>
            <h2>Vas a tener que picar</h2>
            <p>No se ha encontrado ninguna noticia, vas a tener que picar un rato :D</p>
            <small>Picando, que es gerundio...</small>
         </div>
      {/loop}
      </div>
      <div class="col-sm-4 col-md-5">
      {loop="$fsc->noticias"}
         {if="$counter>=24"}
         <div style="margin-bottom: 20px;">
            <!--{$fsc->preview->load($value->url, $value->preview)}-->
            {if condition="$fsc->preview->type"}
            <div class="pull-right">
               <a href="{$value->url()}">
                  <img src="{$fsc->preview->preview()}" alt="{$value->titulo}" style="max-height: 80px; max-width: 100px; margin-left: 10px;">
               </a>
            </div>
            {/if}
            <h4 style="margin-bottom: 0px;">
               <a href="{$value->url()}" target="_blank">{$value->titulo}</a>
            </h4>
            <p class="text-justify">
               {$value->resumen}
               <br/>
               <span class="small">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {$value->fecha}
                  &nbsp; <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {$value->popularidad()}
                  &nbsp; <a href="{$fsc->url()}&codfuente={$value->codfuente}">{$value->codfuente}</a>
                  <br/>
                  {loop="$value->keywords()"}
                  <a href="{$fsc->url()}&keyword={$value}" class="label label-default">{$value}</a>
                  {/loop}
                  <a href="{$value->edit_url()}" class="label label-default" title="Editar esta noticia">
                     <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  </a>
               </span>
            </p>
         </div>
         {/if}
      {/loop}
      </div>
      <div class="col-sm-3 col-md-2">
         <br/>
         <div class="thumbnail">
            <img src="plugins/informame/view/img/picar.png" alt="picar"/>
            <div class="caption">
               <h4>¡A picar!</h4>
               <p>Para estar <b>bien informados</b>, primero debemos estar informados.</p>
               <p>
                  Debemos <b>buscar información</b>, agruparla, valorarla y finalmente
                  quedarnos con lo mejor. A este proceso lo llamamos <b>picar</b>.
               </p>
               <div class="btn-group">
                  <a href="index.php?page=inme_picar&picar=TRUE" class="btn btn-primary">
                     <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                     &nbsp; Picar
                  </a>
                  <a href="index.php?page=inme_picar" class="btn btn-default" title="¿Qué es eso de picar?">
                     <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                  </a>
               </div>
            </div>
         </div>
         <div class="list-group">
            {loop="$fsc->temas_populares"}
            <a href="{$value->url()}" class="list-group-item">
               <span class="badge">{$value->articulos}</span>
               {$value->titulo}
            </a>
            {/loop}
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12 col-md-12">
         <ul class="pager">
            {if="$fsc->offset>0"}
            <li class="previous">
               <a href="{$fsc->anterior_url()}">
                  <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
               </a>
            </li>
            {/if}
            {if="count($fsc->noticias)==FS_ITEM_LIMIT"}
            <li class="next">
               <a href="{$fsc->siguiente_url()}">
                  Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
   </div>
</div>

{include="footer"}